.information {
    display: flex;
    justify-content: right;
    align-items: center;
    color: red;
    border-bottom: 0.5px solid #f5ebdc;
}
.information button{
    border: none;
    width: 200px;
    height: 40px;
    background-color: #533d35;
    font-size: 25px;
    color: #f5ebdc;
}
.information button:hover {
    cursor: pointer;
}
.information:hover {
    text-decoration: none;
    color: red;
    cursor: pointer;
}
.information:focus {
    outline: 0;
}

.copyright {
    color: #f5ebdc;
    font-size: 15px;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer{
    /* bottom: 0; */
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #533d35;
}

.paymentMethod {
    color: #f5ebdc;
    font-size: 30px;
    margin-top: 30px;
}
