.navbar {
    background-color: #f5ebdc;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bars {
    background: none;
}

.menu-bars svg{
    color: #502314;
    width: 40px;
    height: 40px;
} 

.nav-menu {
    background-color: #f5ebdc;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 9;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}


.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #f5ebdc;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.icon {
    color: white;
}

.headerSearch {
    width: 460px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.headerLogo {
    width: 90px;
    height: 70px;
    margin: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerLogo img{
    width: 90px;
    height: 70px;
}

.headerControls {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerControlsButton {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    margin: 0 10px;
    cursor: pointer;
    background: none;
    border: 2px solid #502314;
    font-size: 15px;
    color: #502314;
    font-weight: bold;
}

.headerSearchInput {
    width: 280px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #502314;
    margin-left: 20px;
    outline: none;
}